/AdrianaBalmaceda/Java3/Leccion1/JavaApplication66/nbproject/private/
/AdrianaBalmaceda/Java3/Leccion1/MundoPc/nbproject/private/
/BalmacedaAV/Java3/Leccion1/MundoPc2/nbproject/private/
/BalmacedaAV/Java3/Leccion1/EjercicioPresencial27/nbproject/private/
/BalmacedaAV/Java3/Leccion2/ArgumentosVariables/nbproject/private/
/BalmacedaAV/Java3/Leccion2/ArgumentosVariables/build/
/BalmacedaAV/Java3/Leccion2/Enumeraciones/nbproject/private/
/BalmacedaAV/Java3/Leccion2/Enumeraciones/build/
/BalmacedaAV/Java3/Leccion2/BloquesInicializacion/nbproject/private/
/BalmacedaAV/Java3/Leccion2/BloquesInicializacion/build/
